#menu-icon-wrapper {
    display: none;
}


.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url("/images/bg.png");
    background-color: white;

    animation: example 5s infinite;

    @keyframes example {
        50% {
            background-color: #222;
        }
    }

    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }

    .title {
        color: $white;
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

#team {
    .container {
        width: 70%;
    }

    .member {
        .author {
            margin-bottom: 10px;

            @media (max-width: 767px) {
                text-align: center;
            }
        }

        blockquote {
            height: 290px;

            @media (max-width: 767px) {
                height: auto;
            }
        }
    }
}


footer.footer-dark {
    .footer-column {
        .level-item .icon {
            color: $accent;
        }
    }
}

.database {
    .member {
        h2 {
            font-size: 1.2em;
        }
        margin-bottom: 10px;
    }
}