#menu-icon-wrapper {
    display: none;
}

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: black;
    background-image: url("/images/hero-banner.gif");

    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }

    .title {
        color: $white;
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.member {
    .author {
        margin-bottom: 10px;

        @media (max-width: 767px) {
            text-align: center;
        }
    }
}

footer.footer-dark {
    .footer-column {
        .level-item .icon {
            color: $accent;
        }
    }
}